

/* make sure we use all vertical space and use proper font */
html, body, #content, #container, .content-element, #sidenav {
    height: 100%;
    font-family: Helvetica;
}

.logo-container {
    padding: 10px;
    margin-bottom: 15px;
}
.logo-container img {
    width: 150px;
}

.menu-category {

    font-weight: bold;
    font-size: 16px;
    color: #666666;
}
#nav-menu a {
    padding-left: 40px;
    color: #333333;
}

.content-element {
    margin: 20px;
    overflow: auto;
}

.content-element table td {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hidden {
    display: none;
}


.form-container {
    margin-top: 40px;
}



.rssm-owner td {
    color: #000033;
    background-color: rgba(0, 90, 255, 0.1);
}




.row-type-highlight td {
    background-color : #f6f6f6;
}

.row-type-plain td {
    background-color : #f0f0f0;
}

