/* make sure we use all vertical space and use proper font */
html,
body {
    height: 99%;
    font-family: Helvetica;
    font-size: 1vw;
    --content-grey-normal: #e0e0e0;
    --content-grey-light: #ececec;
    --content-grey-dark: #bebebe;
    --nav-item-grey-normal: #e0e0e0;
    --nav-item-grey-highlight: #eceff1;
    --nav-item-blue-grey-highlight: #cfd8dc;
    --action-item-blue-normal: #448aff;
    --action-item-blue-dark: rgb(21, 101, 192);
    --action-item-blue-ultra-dark: rgb(11, 56, 109);
    --action-item-blue-light: #82b1ff;
    --action-item-blue-ultra-light: #bbdefb;
}

#loading {
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    position: absolute;
    background-image: linear-gradient(145deg, var(--content-grey-dark), var(--content-grey-light));
    display: flex;
    align-items: center;
    justify-content: center;
}
#loading p {
    margin: 0;
    color: var(--action-item-blue-dark);
    font-size: 1.5em;
}

a.current {
    background: var(--action-item-blue-light) !important;
    border: none !important;
}

a.paginate_button:hover {
    background: var(--action-item-blue-ultra-light) !important;
    border: none !important;
    color: #000000 !important;
}

body.dialog {
    background-color: #efefef;
    margin: 30px;
}

.summary-table td {
    padding: 5px;
}

.summary-table th {
    padding-right: 25px;
    font-weight: normal;
    text-align: right;
    width: 100px;
}

#container,
#sidenav,
#content {
    height: 100%;
    min-height: 100% !important;
}

table.no-line tr {
    border-bottom: 0 !important;
}

#admin-info-error {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgba(201, 21, 21, 0.11);
    color: darkred;
    font-size: 14px;
}

/* Forms color scheme - materialize overrides */

/* form input fields */
input {
    color: var(--action-item-blue-dark) !important;
}
/* label underline focus color */
input:focus {
    border-bottom: 1px solid var(--action-item-blue-normal) !important;
}

.input-field textarea:focus + label {
    color: var(--action-item-blue-normal) !important;
}
.row .input-field textarea:focus {
    border-bottom: 1px solid var(--action-item-blue-normal) !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}
textarea {
    color: var(--action-item-blue-dark) !important;
}

/* search fields - dropdown text color */
ul.dropdown-content li span {
    color: var(--action-item-blue-dark) !important;
}
ul.dropdown-content li span.highlight {
    color: var(--action-item-blue-light) !important;
}

/* Datepicker */
div.datepicker-date-display {
    background-color: var(--action-item-blue-normal) !important;
}
.datepicker-table td.is-today,
.datepicker-cancel,
.datepicker-done {
    color: var(--action-item-blue-dark) !important;
}
.datepicker-table td.is-selected {
    background-color: var(--action-item-blue-light) !important;
}

/* switch */
.switch label input[type="checkbox"]:checked + .lever {
    background-color: var(--action-item-blue-light) !important;
}
.switch label input[type="checkbox"]:checked + .lever:after {
    background-color: var(--action-item-blue-normal) !important;
}
.switch-stayon label input[type="checkbox"] + .lever {
    background-color: var(--action-item-blue-light) !important;
}
.switch-stayon label input[type="checkbox"] + .lever:after {
    background-color: var(--action-item-blue-normal) !important;
}

/* buttons */
.btn,
.btn-large,
.btn-small {
    background-color: var(--action-item-blue-dark) !important;
}
.btn-table-icon {
    color: var(--action-item-blue-dark) !important;
    cursor: pointer;
}

div.modal-wide {
    width: 65% !important;
    background-color: var(--content-grey-light) !important;
}

/* Tabs */
li.tab {
    text-transform: none !important;
}
li.indicator {
    background-color: var(--action-item-blue-light) !important;
}
li.tab a {
    color: rgba(0, 0, 0, 0.87) !important;
    background-color: var(--nav-item-grey-normal) !important;
    font-weight: bold;
}
li.tab a.active {
    background-color: var(--nav-item-grey-highlight) !important;
}
ul.tabs {
    margin-bottom: 30px;
}

.logo-container {
    padding: 10px;
}
.logo-container img {
    width: 10rem;
}

.menu-category {
    font-weight: bold;
    font-size: 1.2rem;
    color: #666666;
    padding: 0.75rem 1rem !important;
}
#nav-menu a {
    padding: 0.5rem 2rem;
    color: #333333;
}

#content {
    position: relative;
}

.content-element {
    margin: 1rem !important;
    display: block;
    position: absolute !important;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--content-grey-normal) !important;
}

.content-element table td {
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-content {
    min-height: 90%;
    padding: 1.5rem !important;
}
.card-title {
    font-size: 2rem !important;
}
.card-action {
    min-height: 10%;
}

.hidden {
    display: none !important;
}

.form-container {
    margin-top: 1rem;
}

.rssm-owner td {
    color: #000033;
    background-color: rgba(0, 90, 255, 0.1);
}

div.rssm-app-info {
    background-image: url(../assets/images/linden.png) !important;
    background-position: right;
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: var(--nav-item-grey-highlight);
}

div.rssm-app-info p {
    font-size: 14px;
    font-weight: normal;
}

div.rssm-app-info span {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.row-type-highlight td {
    background-color: #f6f6f6;
}

.row-type-plain td {
    background-color: #f0f0f0;
}

.summary span {
    margin-left: 100px;
    font-weight: bold;
}

.autocomplete-content {
    position: absolute !important;
}

.version {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 10px;
    color: #666666;
}

#version-tag {
    background-color: orange;
    color: #333333;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 2px;
    padding: 2px 5px;
    margin: 5px;
}

.input-field {
    margin-top: 0px !important;
}

.input-field input {
    font-size: 1.3rem !important;
}
.dropdown-content li > span {
    font-size: 1.2rem !important;
    line-height: 1.2rem !important;
    padding: 0.5rem 1rem !important;
}
.dropdown-content li {
    line-height: 3rem;
    height: 3rem !important;
    min-height: 1rem !important;
}

.row {
    margin-bottom: 0.5rem !important;
}

/* Aktien Display */
.share-dd-container {
    display: flex;
    flex-wrap: wrap;
}

.share-dd-item {
    width: 8rem;
    height: 12rem;
    margin-left: 0.5rem !important;
    padding: 0.5rem !important;
    background-color: var(--nav-item-blue-grey-highlight) !important;
}

.share-dd-item-selected {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.3) !important;
    background-color: var(--action-item-blue-ultra-light) !important;
    animation: share-selection-animation;
    animation-duration: 250ms;
}

@keyframes share-selection-animation {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

share-dd-item p img {
    border: #949494 1px dashed !important;
}

.share-dd-hash {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 80%;
    font-size: 10px;
    color: grey;
    font-family: sans-serif;
}

/* icons not shown due to low res usage*/
.share-dd-icon {
    font-size: 3rem;
    bottom: -1rem;
    right: 5px;
    position: absolute;
    z-index: -1 !important;
    color: rgb(30, 30, 30, 0) !important;
}

.share-dd-item img {
    width: 100%;
}
.share-dd-item p.share-no {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.1rem;
}
.share-dd-item p.name {
    text-align: center;
    width: 100%;
    font-size: 10px;
}

.share-dd-item p.share-selected {
    font-size: 24px;
    color: teal;
}

/** Dashboard **/

.dash-title {
    font-size: 1.5rem;
}

.dash-row {
    margin-top: 2rem;
}

.dash-text {
    font-size: 1rem !important;
    padding: 1rem;
}

.dash-chart {
    padding: 0;
}

.dash-chart canvas {
    width: 100%;
}

/** Settings table **/

table.settings tr {
    border: none;
    line-height: normal;
}
table.settings tr > * {
    padding: 5px;
    height: 35px;
}
tr.setting-title {
    border-top: rgba(0, 0, 0, 0.12) solid 1px !important;
}
table.settings th {
    text-align: right;
    font-weight: 500;
    width: 20%;
}
tr.setting-title th {
    text-align: left;
    font-weight: 700;
}

table.settings td {
    text-align: left;
    width: 100%;
    font-size: 1rem;
}
table.settings td:last-of-type {
    width: 20%;
}
table.dataTable.compact tbody td {
    padding: 1px;
}

.setting-value {
    text-align: right;
    color: var(--action-item-blue-dark);
    font-size: 1rem;
}

.setting-value div.input-field {
    margin-bottom: 0;
}
.setting-value div.input-field input {
    border: none;
    height: 1.5rem;
    width: 50%;
}
.setting-value div.input-field input[type="number"] {
    width: 50px;
}

.setting-highlight {
    color: var(--action-item-blue-ultra-dark);
    animation-name: settings-hightlight-flash;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes settings-hightlight-flash {
    0% {
        text-shadow: 0px 0px 0px orange;
    }
    50% {
        text-shadow: 2px 2px 5px orange;
    }
    100% {
        text-shadow: 0px 0px 0px orange;
    }
}
