

/* make sure we use all vertical space and use proper font */
html, body  {
    height: 99%;
    font-family: Helvetica;
}

body.dialog {
    background-color: #efefef;
    margin: 30px;
}

.summary-table td {
    padding: 5px;
}

.summary-table th {
    padding-right: 25px;
    font-weight: normal;
    text-align: right;
    width : 100px;
}

#container, #sidenav, #content {
    height: 100%;
    min-height: 100% !important;
}




.logo-container {
    padding: 10px;
    margin-bottom: 15px;
}
.logo-container img {
    width: 150px;
}

.menu-category {

    font-weight: bold;
    font-size: 16px;
    color: #666666;
}
#nav-menu a {
    padding-left: 40px;
    color: #333333;
}


#content {
    position: relative;
    scroll: none;
}

.content-element {
    margin: 30px !important;
    display: block;
    position:absolute !important;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color: #e6e7e9 !important;
}

.content-element table td {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-content {
    min-height: 90%;
}
.card-action {
    min-height: 10%;
}

.hidden {
    display: none;
}

.danger td {
    background-color: rgba(201, 21, 21, 0.11);
    color: darkred;
}


.form-container {
    margin-top: 40px;
}



.rssm-owner td {
    color: #000033;
    background-color: rgba(0, 90, 255, 0.1);
}




.row-type-highlight td {
    background-color : #f6f6f6;
}

.row-type-plain td {
    background-color : #f0f0f0;
}

.summary span {
    margin-left : 100px;
    font-weight: bold;
}

.autocomplete-content {
    position: absolute !important;
}

.version {
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #666666;
}

.input-field {
    margin-top: 0px !important;
}
.row {
    margin-bottom: 10px !important;
}

.share-dd-container {
    min-height: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.share-dd-item {
    width: 120px;
    height: 180px;
    margin-left: 10px !important;
    padding: 10px !important;
    background-color: #e0effa !important;
}

.share-dd-item-selected {
    box-shadow:
            0 16px 24px 2px rgba(0,0,0,0.14),
            0 6px 30px 5px rgba(0,0,0,0.12),
            0 8px 10px -5px rgba(0,0,0,0.3) !important;
    background-color: #e3f4ff !important;
}

share-dd-item p img {
    border: #949494 1px dashed !important;
}

.share-dd-item img {
    width: 100%;
}
.share-dd-item p.share-no {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
}
.share-dd-item p.name {
    text-align: center;
    width: 100%;
    font-size: 10px;
}

.share-dd-item p.share-selected {
    font-size: 24px;
    color: teal;
}

.btn-blue {
    background-color: #1565c0;
}

/** date field style **/
::-webkit-datetime-edit-month-field { color: #333333; }
::-webkit-datetime-edit-day-field { color: #333333; }
::-webkit-datetime-edit-year-field { color: #333333; }
::-webkit-inner-spin-button { display: none; }


/** Dashboard **/

.dash-title {
    font-size: 20px;
}

.dash-row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.dash-text {
    font-size: 18px !important;
}

.dash-chart {
    padding: 0;
}

.dash-chart canvas {
    height: 600px;
    width: 600px;
}